:root {
    --steel_blue: #4683CC;
    --blue: #517CF4;
    --blue_hover: #3a6aef;
    --french_gray: #C3C4CC;
    --periwinkle: #C9D8F9;
    --celtic_blue: #0171D3;
    --red:rgb(244, 81, 81);
    --red_hover:rgb(235, 56, 56);
    --white: #fff;
    --gray: rgb(198, 198, 198);
    --black: black;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Nunito", sans-serif;
    background-color: var(--blue);
}

.maincontainer {
    background-color: var(--white);
    width: 600px;
    height: auto;
}

.btnHome {
    width: 120px;
    background-color: var(--blue);
    color: var(--white);
}

.btnHome:hover, .btnHome.btn:active {
background-color: var(--blue_hover);
color: var(--white);
}